@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-primary-dark: #15803d;
  --color-primary-light: #bbf7d0;
  --color-danger: #dc2626;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;
}
